@{
    ViewData["Title"] = "Tes Data Table";
    Layout = "_LayoutLatihan";
}

<div class="title text-center">
    <h3>Data Table Employee</h3>
</div>

<table class="table table-hover mt-sm-5" id="dataTabelEmployee">
    <thead>
        <tr>
            <th>No</th>
            <th>NIK</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody class="employee">
    </tbody>
</table>

@section Scripts {
    <script src="~/js/DataTableEmployee.js"></script>
}