@{
    ViewData["Title"] = "Home Page";
}

<div class="title text-center">
    <h3>Data Table Register</h3>
</div>

<table class="table table-hover mt-sm-5" id="dataTabelEmployee">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>University Name</th>
            <th>Degree</th>
            <th>GPA</th>
            <th>Roles</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="employee">
    </tbody>
</table>

<div class="modal fade" id="getEmployeeDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="pokemonName"></h3>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/DataTableRegister.js"></script>
    
}