
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutSbAdmin";
}

<div class="row card-body">
    <div class="col border">
        <h3>Employee by gender</h3>
        <div id="pieChartGender"></div>
    </div>
    <div class="col border">
        <h3>Employee by univ</h3>
        <div id="barChartUniv"></div>
    </div>

</div>

<div class="card-body">
    
</div>


@section Scripts {
    <script src="~/js/Chart.js"></script>
}