.pokeImage {
    width: 200px;
    height: 200px;
}

.modal-header h5 {
    margin: auto;
}

/*.modal-lg {
    max-width: 49%;
}*/

.modal-body {
    padding: 20px;
}

/*.title h1 {
    position: relative;
    bottom: 850px;
}*/

/*.button-left span {
    padding: 50% 0;
}*/